.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.container__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.container__bar {
  position: relative;
  text-align: center;
  width: 650px;
  height: 30px;
  background-color: #e0e0e0;
  border-radius: 20px;
  overflow: hidden;
}

.container__percentage {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transition: width 0.1s ease;
}

.container__count {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: x-large;
  color: white;
  white-space: nowrap;
  pointer-events: none;
}
